# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# IDE
.idea/
.vscode/

# Testing
.coverage
htmlcov/
.pytest_cache/

# Environment
.env

# OS
.DS_Store

# Build / Packaging
*.egg-info/
dist/
build/
*.egg

# Piper / local model files
models/piper/
*.onnx
*.onnx.json
